.header {
    width: 100%;
    height: 70px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    color: var(--color-text);
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon {
    font-size: 2rem;
    color: var(--color-accent);
}

.title {
    padding-left: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

a:-webkit-any-link {
    color: var(--color-text);
}

.searchbar {
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.input {
    width: 100%;
    border: 1.5px var(--color-border) solid;
    color: var(--color-text);
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.button {
    width: 6rem;
    color: var(--color-text);
    border: 1.5px var(--color-border) solid;
    border-left: 0;
    padding: 0.5rem;
    background-color: var(--color-grey);
    font-size: 1.5rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}