:root {
  --color-bg: #0F0F0F;
  --color-grey: #272727;
  --color-border: #363636;
  --color-text: #f1f1f1;
  --color-accent: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  border-collapse : collapse;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg);
}